.subtitle {
            font-size: 16px;
            opacity: 0.9;
        }

.status-completed 
{
    background-color: #dcfce7;
    color: #166534;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
}

.status-upcoming 
{
    background-color: #dbeafe;
    color: #1e40af;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
}

.status-Late
{
    background-color: rgb(251, 251, 227);
    color: rgb(217, 217, 4);
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
}

.status-Absent 
{
    background-color: rgb(245, 177, 177);
    color: red;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
}

.filter
{
    width: 84%;
    padding: 5px;
    font-size: 12px;
    background-color: white;
    border: none;
    color: #3B0270;
    font-weight: bold;
    font-size: 14px;
}

.filter option 
{
    color: #3B0270;
    font-weight: bold;
    font-size: 14px;
    border: 12px solid black;
}


#filter-label
{
    font-size: 14px;
    margin-right: 10px;
    color: #F4991A;
    font-weight: bold;
}